<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Categories</h1>
<%= render 'dashboard/shared/notifications' %>

<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Filters</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <% if @categories.present? %>
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Name</th>
              <th>Created at</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Name</th>
              <th>Created at</th>
              <th>Actions</th>
            </tr>
          </tfoot>
          <tbody>
            <% @categories.each do |category| %>
              <tr>
                <td><%= category.name %></td>
                <td><%= category.created_at %></td>
                <td>
                  <%= link_to dashboard_category_path(category) do %>
                    <i class="fas fa-eye"></i>
                  <% end %>
                  <%= link_to edit_dashboard_category_path(category) do %>
                    <i class="fas fa-edit"></i>
                  <% end %>
                  <%= link_to dashboard_category_path(category), method: :delete, data: { confirm: 'Delete category?' } do %>
                    <i class="fas fa-trash"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <p>No categories have been posted yet. </p>
      <% end %>
    </div>
  </div>
</div>

