<%= render 'pages/shared/nav' %>

<div class="container" style="margin-top: 60px;">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <% @posts.each do |post| %>
        <div class="post-preview">
          <%= link_to post do %>
            <h2 class="post-title">
              <%= post.title %>
            </h2>
          <% end %>
          <p class="post-meta" style="color: #333">Publicado em
            <%= post.published_at.strftime("%d do %m de %Y") %></p>
        </div>
        <hr>
      <% end %>
    </div>
  </div>
</div>

<hr style="margin-top: 60px;">

<%= render 'pages/shared/footer' %>