<%= render 'pages/shared/nav' %>

<article style="margin-top: 100px">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <h1><%= @post.title %></h2>
          <span class="post-meta" style="font-style: italic; font-size: 1em">Published at: <%= @post.published_at.strftime("%m/%d/%Y") %></span>
          <div id="post-content"><%= markdown(@post.body) %></div>
        </div>
      </div>
    </div>
  </article>

  <hr style="margin-top: 60px;">

<%= render 'pages/shared/footer' %>